
@import 'pictures';
@import 'header';
@import 'footer';

$primary-color: #FFFFFF;

$text-color: #111111;
$font-weight: (
  "normal": 400,
  "medium": 500,
  "bold": 700
);



body {
    background: $primary-color;
    color: $text-color;
}


.page {
  max-width: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
  


.main {
   
  max-width: 1110px;
  width: 100%;

  &__subheadline {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      color: #4A4FF2;
      font-size: 22px;
      max-width: 173px;
      width: 100%;
      margin-top: 6em;
      }

      &__headline {
        font-family: "Mulish", sans-serif;
        font-weight: map-get($font-weight, bold);
        font-size: 40px;
        max-width: 600px;
        width: 100%;
        display: flex;
        display: inline-block;
    }

        &__newcolor {
          color: #4A4FF2;
    }

        &__quote {
          font-family: "Mulish", sans-serif;
          font-weight: map-get($font-weight, normal);
          font-size: 17px;
          font-style: italic;
          max-width: 207px;
          width: 100%;
          display: flex;
          display: inline-block; 
    }

        &__overline {
          text-decoration-line: overline;
    }
  }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0;
  .gallery-item {
    height: 200px;
    background-color: #CCC;
    border: 1px solid #999;
  }
}

.servicesContainer {
  max-width: 1110px;
  width: 100%;
  margin-top: 90px;



  &__services {
    max-width: 1110px;
  width: 100%;
    display: flex;
    align-items: baseline;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 28px;
    line-height: 38px;
  }

    &__bulletList {
      display: flex;
      justify-content: flex-end;
      max-width: 1110px;
      width: 100%;
    }

    &__listOne {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, normal);
      font-size: 18px;
      display: flex;
      flex-direction: column;
      display: inline-block;
      align-items: baseline;
      list-style-type: none;

    }
  
    &__listTwo {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, normal);
      font-size: 18px;
 
      display: flex;
      flex-direction: column;
      display: inline-block;
      align-items: baseline;
      list-style-type: none;
    
    }

  }


.container {
    max-width: 1110px;
    width: 100%;
    margin-top: 100px;
 
     border-bottom: 1px solid #ccc;
    
    border-top: 1px solid #ccc;
}

.award-section-one {
  margin-top: 20px;
    margin-bottom: 20px;
   border-bottom: 1px solid #ccc ;
}

.award-section {
  margin-top: 20px;
    margin-bottom: 20px;

}

.headline {
  display: flex;
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 22px;
  margin-bottom: 10px;
  width: 300px;
}

.award-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
 
}

.category {
  width: 300px;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
}

.description {
   font-family: "Mulish", sans-serif;
   font-weight: map-get($font-weight, normal);
   font-size: 16px;
   color: #111111;
   width: 200px;
}

.info {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 16px;
  opacity: 60%;
  color: #111111;
}

.year {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 16px;
}




  /*
.containerAwards {
  max-width: 1110px;
  width: 100%;
  display: flex;
 

    &__h2awards {
   width: 400px;
    display: flex;
    display: inline-block;
    align-items: baseline;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 22px;
  }

  &__middleText {
  width: 235px;
     display: flex;
   
    display: inline-block;
    align-items: baseline;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
  }

  &__genesis {
    width: 235px;
    display: flex;
    display: inline-block;
    align-items: baseline;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
  }

  &__year {
  
     display: flex;
    display: inline-block;
    justify-self: flex-end;
    align-items: baseline;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
  }

  &__info {
    width: 170px;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
    line-height: 20px;
    opacity: 60%;
    margin-top: 1px;
    display: flex;
    display: inline-block;
  }
} */

/*

.awards {
  padding: 20px 0;
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .award-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
    span {
      flex: 1;
    }
  }
}


/*
.box {
    display: flex;
    flex-direction: row;

    &__info {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 18px;
    }
}

.info {
  font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 100px;
     
}

.nav-first {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
  display: flex;
  display: inline-block;

}

.nav-second {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
  display: flex;
  display: inline-block;
}


.navbar-second {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
  margin-left: 94px;
  display: flex;
  flex-direction: row;
    
    ul {
  
    list-style-type: none;

    li {
      

      a {
        color: #111111;
        text-decoration: none;
      }
    }
  }




.awards {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: baseline;
    justify-content: space-between;

    #{&}__box {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 22px;
      max-width: 200px;
      width: 100%;
      display: flex;
      display: inline-block;
      justify-self: baseline;
      margin: 20px;
    }

    #{&}__siteoftheday {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 18px;
      max-width: 200px;
      width: 100%;
      display: flex;
      display: inline-block;
      justify-self: baseline;
      margin: 20px;
    }

    #{&}__genesis {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, normal);
      font-size: 16px;
      max-width: 200px;
      width: 100%;
      display: flex;
      display: inline-block;
      justify-self: baseline;
      margin: 20px;
    }
}




.line-second {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  justify-content: space-between;

  #{&}__empty {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 22px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__bestnav {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__template {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }
}

.css-third {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  justify-content: space-between;

  #{&}__design-awards {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 22px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__site-of-day {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__genesis-ui-kit {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }
}*/









