@import 'header';
@import 'pictures';
@import 'footer';


$primary-color: #FFFFFF;
$accent-color: #ff652f;
$text-color: #111111;
$font-weight: (
  "normal": 400,
  "medium": 500,
  "bold": 700
);



body {
    background: $primary-color;
    color: $text-color;
}


.page {
  max-width: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center; 
}

.section-sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;

}

.headpro {
      max-width: 635px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      display: inline-block;


    &__proheadline {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 40px;
      max-width: 500px;
      width: 100%;
      display: flex;
      display: inline-block;
     
    }

      &__protext {
        font-family: "Mulish", sans-serif;
        font-weight: map-get($font-weight, normal);
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        max-width: 635px;
        display: flex;
        display: inline-block;
      
    }
}


table {
  width: 100%; 
  max-width: 435px; 
  border-collapse: collapse; 
  font-family: "Mulish", sans-serif;
  margin-top: 70px;
}

.projects {
  font-weight: map-get($font-weight, bold);
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid $text-color;
  text-align: left; 
  width: 150px;
  color: #979797;
}

.portfolio {
  font-weight: map-get($font-weight, bold);
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid $text-color;
  text-align: left; 
  width: 170px;
}


.img__painting-big {
  max-width: 1110px;
  width: 100%;
  height: 660px;
  margin: 20px 0px 20px 0px;
}


.middle-text {
  max-width: 1109px;
  width: 100%;
  height: 93px;
}


.container__img {
  max-width: 1110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__img__trees {
    max-width: 350px;
    width: 100%;
  }

  &__img__flowers {
    max-width: 350px;
    width: 100%;
  }

  &__img__darkness {
    max-width: 350px;
    width: 100%;
  }
}




/*
  <div class="container__img">
            <img class="img__trees" src="/images/painting-trees-high.png" alt="Painting of trees">
            <img class="img__flowers" src="/images/flowers.png" alt="Flowers">
            <img class="img__darkness" src="/images/darkness.png" alt="Darkness">
        </div>

/*

.projects {
    width: 150px;
    height: 32px;
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0px;
    opacity: 50%;    
}

.portfolio {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, bold);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
}

.middle-text {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    margin-top: 45px;
}


*/